// SPDX-License-Identifier: MIT
/*
 * Copyright (c) 2022 Embedded and Real-Time Systems Laboratory,
 *            Graduate School of Information Science, Nagoya Univ., JAPAN
 */
INCLUDE("tecsgen.cfg");

#include "multitask5.h"
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(MOTOR_TASK, { TA_NULL , 0, motor_task, MOTOR_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(BUT_CYC_HANDLER, { TA_NULL , 0, but_cyc_handler, BUTTON_CYC_PRIORITY, STACK_SIZE, NULL });

CRE_CYC(BUT_CYC, {TA_NULL, {TNFY_ACTTSK, BUT_CYC_HANDLER}, 1000, 0});

CRE_DTQ(MOTOR_DTQ,{TA_NULL, 10, NULL});      // NULL -> データキューの管理領域をカーネルorコンフィギュレータが確保
